@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
/* line 16, ../sass/calculator.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  height: 100vh;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0MjQzNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkYjM4MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') 100% no-repeat;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #542437), color-stop(100%, #cdb380)) 100% no-repeat;
  background: -moz-linear-gradient(left, #542437 0%, #cdb380) 100% no-repeat;
  background: -webkit-linear-gradient(left, #542437 0%, #cdb380) 100% no-repeat;
  background: linear-gradient(to right bottom, #542437 0%, #cdb380) 100% no-repeat;
  color: #CDB380;
}
/* line 23, ../sass/calculator.scss */
body #calc {
  text-align: center;
  width: 292.5px;
  height: 390px;
  background: #343838;
  -moz-box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.3);
  margin: 20vh auto;
}
/* line 30, ../sass/calculator.scss */
body #calc .output {
  position: relative;
  right: 32.5px;
  top: 26px;
  height: 65px;
  text-align: right;
  color: #ceb482;
  font-size: 1.2em;
}
/* line 43, ../sass/calculator.scss */
body #calc span {
  display: inline-block;
  cursor: pointer;
  width: 65px;
  height: 65px;
}
/* line 48, ../sass/calculator.scss */
body #calc span:hover {
  color: #5E6F8C;
  text-shadow: 0 0 3px #5E6F8C;
}
/* line 52, ../sass/calculator.scss */
body #calc .zero {
  width: 207px;
}
/* line 53, ../sass/calculator.scss */
body #calc .firstLine {
  padding-top: 19.5px;
  border-top: 2px solid;
  border-color: #5E6F8C;
}
